<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- The format the logs will be saved in. The linewidth is not a
      hard limit, it will be overstepped. -->
    <add key="logIndentationLevel" value="4"/>
    <add key="logLineWidth" value="80"/>

    <!-- Where to save the logs. A subdirectory per month will be created
    in this location. You probably want to override this, unless your name
    happens to be Az. Which would be creepy. -->
    <add key="fileLocation" value="C:\Users\Az\Dropbox\logs\"/>
  </appSettings>
</configuration>